/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-24, 10:05:30
    Author     : wangke
*/

/* mode menu*/
.calendar .calendar-menu{
    text-align: center;
}

.calendar .calendar-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.calendar .calendar-menu li{
    text-align: center;
    display: inline-block;
    width: 33.33%;
    cursor: pointer;
}

.calendar .calendar-menu li.active{
    background: #ccc;
}

/* Month header */
.calendar .title{
    padding: 70px 25px;
    width: 100%;
    text-align: center;
}

/* Month list */
.calendar .title ul,
.calendar .weekdays ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Previous button inside month header */
.calendar .title .prev {
    float: left;
    cursor: pointer;
}

/* Next button */
.calendar .title .next {
    float: right;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.calendar .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.calendar .weekdays li {
    display: inline-block;
    width: 14.2857%;
    color: #666;
    text-align: center;
}

.calendar .month-block-mask{
    height: 600px;
    overflow: hidden;
}

.calendar .month-block-mask{
    border-left: 0.5px solid #eee;
}

.calendar .month-block.move-on{
    transition-duration: 1s;
}
/* Calendar line */
.calendar .calendar-line {
    height: 100px;
}
/* Calendar cell*/
.calendar .calendar-cell{
    display: inline-block;
    vertical-align: top;
    width: 14.2857%;
    height: 100px;
    border-right: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    padding: 5px;
    color: #ccc;
}

.calendar .calendar-cell .cell-date-container.emphasize-date{
    color: black;
}

.calendar .calendar-cell .cell-date-container{
    text-align: right;
}

.calendar .calendar-cell .emphasize-date .cell-date-today{
    color: white;
    padding: 3px;
    background-color: red;
    border-radius: 50%;
}

.calendar .calendar-cell .cell-diary{
    height: 70px;
    padding: 20px 5px;
    text-align: center;
}

.calendar .calendar-cell .cell-diary .cell-diary-link{
    cursor: pointer;
}

/* Mini Calendar is used when we don't show it month by month'*/

/* Month header */
.calendar.mini .title{
    padding: 5px;
    width: 100%;
    text-align: center;
}

/* Weekdays (Mon-Sun) */
.calendar.mini .weekdays {
    margin: 0;
    padding: 2px 0;
}

.calendar.mini .month-block-mask{
    height: 132px;
    overflow: hidden;
    border: none;
}

.calendar.mini .calendar-line{
    height: 22px;
}

.calendar.mini .calendar-cell{
    width: 14.2857%;
    height: 22px;
    border: none;
    padding: 0;
}

.calendar.mini .calendar-cell .cell-date-container{
    margin: 2px 5px;
    margin-top: 0;
    text-align: center;
}

.calendar.mini .calendar-cell.hasdiary .cell-date-container{
    border: 0.5px solid greenyellow;
    cursor: pointer;
}

.calendar.mini .cell-day{
    display: none;
}

.calendar.mini .calendar-cell .cell-diary{
    display: none;
}

/* year mode*/
.calendar.mini.year .calendar-block{
    width: 25%;
    min-width: 220px;
    display: inline-block;
    text-align: center;
}

.calendar.mini.year .block-title,
.calendar.mini.year .weekdays,
.calendar.mini.year .month-block-mask{
    width: 200px;
    margin: 0 auto;
}

/* day mode*/
.calendar.mini.day{
    position: sticky;
    width: 200px;
    top: 10px;
    float: left;
}

/* diaryboard */
.diarywindow{
    padding: 20px;
    display: none;
    margin-left: 200px;
}

.diarywindow .prev{
    float: left;
    cursor: pointer;
    display: inline-block;
}

.diarywindow .next{
    float: right;
    cursor: pointer;
    display: inline-block;
}