/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-24, 10:05:30
    Author     : wangke
*/

/* mode menu*/
.calendar .calendar-menu{
    text-align: center;
}

.calendar .calendar-menu ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.calendar .calendar-menu li{
    text-align: center;
    display: inline-block;
    max-width: 100px;
    width: 33.33%;
    padding: 10px 20px;
    border: solid 0.5px #646271;
    color: white;
    cursor: pointer;
}

.calendar .calendar-menu .mode-year{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.calendar .calendar-menu .mode-day{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.calendar .calendar-menu li.active{
    background: rgba(100,98,113,0.5);
}

/* Month header */
.calendar .calendar-title{
    padding: 30px 25px;
    width: 100%;
}

/* Month list */
.calendar .calendar-title ul,
.calendar .weekdays ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.calendar .calendar-title ul{
    position: relative;
    color: #DCC09D;
}

/* Previous button inside month header */
.calendar .calendar-title .next,
.calendar .calendar-title .prev,
.calendar .calendar-title .today{
    position: absolute;
    cursor: pointer;
    background-color: rgba(255,255,255,0.25);
    color: #AF7E5C;
    text-align: center;
    height: 20px;
    margin-bottom: 10px;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    border: solid 0.5px #646271;
}

.calendar .calendar-title .next,
.calendar .calendar-title .prev{
    width: 20px;
}

.calendar .calendar-title .prev{
    margin-right: 72px;
}

.calendar .calendar-title .today{
    width: 50px;
    margin-right: 21px;
}

.calendar .calendar-title .title{
    font-size: 40px;
    bottom: 0;
}

/* Weekdays (Mon-Sun) */
.calendar .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:rgba(100,98,113,0.5);
}

.calendar .weekdays li {
    display: inline-block;
    width: 14.2857%;
    color: #B1A799;
    text-align: center;
}

.calendar .block-title{
    color: #DCC09D;
}

.calendar .month-block-mask{
    height: 600px;
    overflow: hidden;
}

.calendar .month-block-mask{
    border-left: 0.5px solid #646271;
}

.calendar .month-block.move-on{
    transition-duration: 1s;
}
/* Calendar line */
.calendar .calendar-line {
    height: 100px;
}
/* Calendar cell*/
.calendar .calendar-cell{
    display: inline-block;
    vertical-align: top;
    width: 14.2857%;
    height: 100px;
    border-right: 0.5px solid #646271;
    border-bottom: 0.5px solid #646271;
    padding: 5px;
    color: #5C5142;
}

.calendar .calendar-cell .cell-date-container.emphasize-date{
    color: #DCC09D;
}

.calendar .calendar-cell .cell-date-container{
    text-align: right;
}

.calendar .calendar-cell .emphasize-date .cell-date-today{
    color: white;
    padding: 3px;
    background-color: red;
    border-radius: 50%;
}

.calendar .calendar-cell .cell-diary{
    height: 70px;
    padding: 20px 5px;
    text-align: center;
}

.calendar .calendar-cell .cell-diary .cell-diary-link{
    cursor: pointer;
}

.calendar .diary-btn{
    display: none;
}

/* Mini Calendar is used when we don't show it month by month'*/

/* Weekdays (Mon-Sun) */
.calendar.mini .weekdays {
    margin: 0;
    padding: 2px 0;
}

.calendar.mini .month-block-mask{
    height: 132px;
    overflow: hidden;
    border: none;
}

.calendar.mini .calendar-line{
    height: 22px;
}

.calendar.mini .calendar-cell{
    width: 14.2857%;
    height: 22px;
    border: none;
    padding: 0;
}

.calendar.mini .calendar-cell .cell-date-container{
    margin: 2px 5px;
    margin-top: 0;
    text-align: center;
}

.calendar.mini .calendar-cell.hasdiary .cell-date-container{
    border: 0.5px solid greenyellow;
    cursor: pointer;
}

.calendar.mini .cell-day{
    display: none;
}

.calendar.mini .calendar-cell .cell-diary{
    display: none;
}

/* year mode*/
.calendar.mini.year .calendar-block{
    width: 25%;
    min-width: 220px;
    display: inline-block;
    text-align: center;
}

.calendar.mini.year .block-title,
.calendar.mini.year .weekdays,
.calendar.mini.year .month-block-mask{
    width: 200px;
    margin: 0 auto;
}

/* day mode*/
.calendar.mini.day{
    position: sticky;
    width: 200px;
    top: 10px;
    float: left;
}

.calendar.mini.day .calendar-title{
    padding: 5px;
    width: 100%;
}

.calendar.mini.day .calendar-title .title{
    font-size: 14px;
}

.calendar.mini.day .calendar-title .next,
.calendar.mini.day .calendar-title .prev,
.calendar.mini.day .calendar-title .today{
    margin-bottom: 0;
}

.calendar.mini.day .diary-mask{
    position: relative;
    top: -300px;
    height: 300px;
    width: 100%;
    z-index: -1;
}

.calendar.mini.day .diary-mask.diary-mask-show{
    z-index: 2;
}

.calendar.mini.day .diary-btn{
    position: relative;
    display: block;
    top: -300px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0.5px solid #646271;
    border-radius: 5px;
    text-align: center;
    color: #AF7E5C;
    background-color: rgba(255,255,255,0.25);
    cursor: pointer;
}

/* diaryboard */
.diary-window{
    display: none;
    padding: 20px;
    margin-left: 200px;
    color: #DCC09D;
}

.diary-window .prev{
    float: left;
    cursor: pointer;
    display: inline-block;
}

.diary-window .next{
    float: right;
    cursor: pointer;
    display: inline-block;
}

.diary-window .diary-html{
    color: black;
    background-color: rgba(255,255,255,0.5);
    display: none;
}